<form
  method="post"
  action="/account"
  id="create_customer"
  accept-charset="UTF-8">
  <input
    type="hidden"
    name="form_type"
    value="create_customer">
  <input
    type="hidden"
    name="utf8"
    value="✓">
  <input
    type="text"
    placeholder="First Name"
    value
    name="customer[first_name]"
    id="customer_first_name">
  <input
    type="text"
    placeholder="Last Name"
    value
    name="customer[last_name]"
    id="customer_last_name">
  <input
    type="text"
    placeholder="Email"
    value
    name="customer[email]"
    id="customer_email">
  <input
    type="password"
    placeholder="Password"
    value
    name="customer[password]"
    id="customer_password">
  <input type="submit" value="Register">
</form>
<script>
  jQuery(function() {
    jQuery('#create_customer').submit(function(event) {
      event.preventDefault();
      var data = jQuery(this).serialize();

      console.log(data);
    });
  });
</script>
<script>
  function createAccount(firstName, lastName, email, password) {
    var escapedData = {
      firstName: escape(firstName),
      lastName: escape(lastName),
      email: escape(email),
      password: escape(password).replace(/\+/g, '%2B')
    }
    var data = 'form_type=create_customer&utf8=%E2%9C%93&customer%5Bfirst_name%5D=';
    data += escapeData.firstName;
    data += '&customer%5Blast_name%5D=';
    data += escapedData.lastName;
    data += '&customer%5Bemail%5D=';
    data += escapedData.email;
    data += '&customer%5Bpassword%5D=';
    data += escapedData.password;
  }
  function createAccount(firstName, lastName, email, password) {
    var escapedData = {
      firstName: escape(firstName),
      lastName: escape(lastName),
      email: escape(email),
      password: escape(password).replace(/\+/g, '%2B')
    }
    var data = 'form_type=create_customer&utf8=%E2%9C%93&customer%5Bfirst_name%5D=';
    data += escapeData.firstName;
    data += '&customer%5Blast_name%5D=';
    data += escapedData.lastName;
    data += '&customer%5Bemail%5D=';
    data += escapedData.email;
    data += '&customer%5Bpassword%5D=';
    data += escapedData.password;
    jQuery.post('/account', data).done(function(response) {
      var logErrors = jQuery(response).find('.errors').text();
      if (logErrors != '' && logErrors != 'undefined') {
        alert(logErrors);
      } else {
        alert('success!');
      }
    }).fail(function() {
      alert('error could not submit');
    });
    return false;
  }
</script>
