<style>
  .nav-main {
    max-width: 100%;
    width: 1300px;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .nav-clid {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    width: 100%;
    padding: 20px;
    transition: 0.4s;
  }
</style>
<div class="nav-main">
  <div class="nav-clid">
    {% for block in section.blocks %}
      <div class="nav-item">
        <a href="{{block.settings.linkurl_nav}}">
          <h2><img src="{{block.settings.cat_tile_image | img_url: '400x'}}" class="nav-tile"></h2>
          <h2>{{ block.settings.heading_nav }}</h2>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Desktop Navigation Tiles",
    "settings": [],
    "blocks": [
      {
        "type": "homepage",
        "name": "Navigation Item",
        "settings": [
          {
            "type": "text",
            "id": "heading_nav",
            "label": "Name",
            "default": "Enter Title",
            "info": "Enter Name of the Collection up here"
          }, {
            "type": "url",
            "id": "linkurl_nav",
            "label": "Link"
          }, {
            "type": "image_picker",
            "id": "cat_tile_image",
            "label": "select category image"
          }, {
            "type": "checkbox",
            "id": "linkopen",
            "label": "Open in new window",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "homepage",
        "name": "Desktop Navigation Tiles"
      }
    ]
  }
{% endschema %}
