<!-- CSS STARTS HERE -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style>
  @import "https://fonts.googleapis.com/css2?family=Bebas + Neue &family=Roboto:wght@300;400;500;700;900&display=swap";
  .video-heroo video {
    max-width: 100%;
    height: auto
  }
  .paper-video-desktop{display:block}
  .paper-video-desktop video{max-width:100%; height:auto; }
  .paper-video-mobile{display:none}
  .main {
    overflow: hidden;
  }
  .section-seccond h2 {
    font-family: Roboto;
    font-size: 40px;
    color: #52B7D1;
    margin-bottom: 0;
    font-weight: 800;
  }
  .section-seccond {
    max-width: 100%;
    width: 1400px;
    margin: 0 auto;
    padding: 19px 30px;
    text-align: center;
  }
  .section-seccond h3 {
    font-size: 31px;
    font-family: roboto;
    font-weight: 700;
    color: #494A4A;
    margin-top: -14px
  }
  .section-seccond p {
    font-size: 27px;
    font-family: roboto;
    font-weight: 500;
    margin-top: -33px;
    color: #494A4A
  }
  .hero-banner {
    margin-top: 22px
  }
  .section-forth p {
    font-size: 23px;
    font-family: roboto;
    font-weight: 400
  }
  .section-fifth {
    max-width: 100%;
    width: 1400px;
    margin: 0 auto;
    padding: 19px 30px
  }
  .section-fifth p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500
  }
  img.mobile {
    display: none
  }
  .section-three {
    max-width: 100%;
    width: 1400px;
    margin: 0 auto;
    padding: 30px 19px;
  }
  .three-heading h2 {
    font-family: 'Roboto';
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    color: #52b7d1;
  }
  .content h2 {
    font-family: Roboto;
    font-size: 21px;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
  }
  img.desktop {
    display: none
  }
  .section-forth {
    max-width: 100%;
    width: 1400px;
    margin: 0 auto;
    padding: 19px 30px
  }
  .section-forth h2 {
    font-family: Roboto;
    font-size: 40px;
    margin-bottom: 0;
    color: #52b7d1;
    font-weight: 800;
  }
  .product-range {
    max-width: 100%;
    width: 1400px;
    margin: 0 auto;
    padding: 19px 30px
  }
  .flex-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px
  }
  .img-section {
    width: 40%
  }
  .img-section img {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 1px 3px 12px 0 #03ddfe69
  }
  .content-section h2 {
    font-family: 'Roboto';
    font-size: 60px;
    margin-bottom: 0;
    padding: 0 10px
  }
  .content-section {
    width: 59%
  }
  .row-rev {
    flex-direction: row-reverse
  }
  .section-fifth h2 {
    font-family: 'Roboto';
    font-size: 35px;
    margin-bottom: 0;
    color: #52b7d1;
    font-weight: 800;
  }
  .contents h3 {
    font-family: 'Roboto';
    font-size: 19px;
    color: #222;
    line-height: 21px
  }
  h2.explor_razr {
    font-family: Roboto;
    margin-bottom: -30px;
    font-size: 40px;
    color: #52b7d1;
    padding: 19px 9px;
    font-weight: 800;
    text-align: center;
  }
  .product-range p {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto';
    text-align: center;
  }
  @media(max-width:400px) {
    .section-seccond {
      padding: 19px 9px
    }
    .section-three {
      padding: 2px 7px;
      margin-top: -30px;
    }
    .three-heading h2 {
      font-size: 30px;
    }
    .section-seccond h2 {
      line-height: 30px;
      font-size: 30px;
    }
    .section-seccond h3 {
      font-size: 17px;
      padding-top: 20px
    }
    .section-seccond p {
      font-size: 19px
    }
    .razr-block-main {
      margin-top: -49px
    }
    .section-forth {
      margin-top: -40px;
      padding: 19px 9px
    }
    .section-forth h2 {
      line-height: 60px
    }
    .section-fifth {
      margin-top: -20px;
      padding: 19px 9px
    }
    .section-fifth h2 {
      line-height: 30px;
      text-align: center;
    }
    .section-fifth p {
      text-align: center;
    }
    .flex-1 {
      flex-direction: column;
    }
    .img-section {
      width: 100%
    }
    .content-section {
      width: 100%;
      padding-top: 20px
    }
    .content-section h2 {
      padding: 0
    }
    .product-range {
      padding: 19px 9px
    }
    h2.explor_razr {
      font-size: 30px;
      margin-top: -24px;
      line-height: 38px;
      margin-bottom: -13px;
    }
    .contents h3 {
      font-size: 17px
    }
    .paper-video-desktop{display:none}
    .paper-video-mobile{display:block}
    .paper-video-mobile video{display:block;max-width:100%;height:auto}
  }
</style>
<!-- CSS ENDS HERE -->



<!-- HTML STARTS HERE -->
<div class="main">
  <div class="video-heroo">
    <video width="1920" height="100%" muted inline autoplay loop>
      <source src="https://cdn.shopify.com/videos/c/o/v/4715e37cdea047fb88513f0c0bb60912.mp4" type="video/mp4">
    </video>
  </div>
  <div class="section-seccond">
    <h2 data-aos="fade-up">INDIA’S NEW SENSITIVE ON SKIN RAZORS</h2>
    <h3 data-aos="fade-up">Coz even Shaving deserves some Skin Loving</h3>
  </div>
  <div class="hero-banner">
    {% section 'slideshow' %}
  </div>
  <div class="product-range">
    <h2 class="explor_razr">2..3..4..6…Pick A Razor that Clicks</h2>
    <p class="explor_razr_para">Wide Range of Ready shavers and System razors for Delightful Shaves</p>
    <div class="aos-fade" data-aos="fade-up">{% section 'razr-prod-block' %}</div>
  </div>
  <div class="section-three">
    <div class="three-heading">
      <h2>TOP 5 THINGS TO LOOK FOR IN AN IDEAL RAZOR</h2>
    </div>
    <div class="slider-three">
      <div class="child-1">
        <div class="child-1-img">
          <img src="https://placehold.co/500x500" alt="placeholder">
        </div>
        <div class="content">
          <h2>Moisturises & is Sensitive on skin</h2>
        </div>
      </div>
      <div class="child-2">
        <div class="child-2-img">
          <img src="https://placehold.co/500x500" alt="placeholder">
        </div>
        <div class="content">
          <h2>Gives a smooth Shave</h2>
        </div>
      </div>
      <div class="child-3">
        <div class="child-3-img">
          <img src="https://placehold.co/500x500" alt="placeholder">
        </div>
        <div class="content">
          <h2>Blades that give more shaves</h2>
        </div>
      </div>
      <div class="child-4">
        <div class="child-4-img">
          <img src="https://placehold.co/500x500" alt="placeholder">
        </div>
        <div class="content">
          <h2>Easy to fix cartridges</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section-fifth">
    <h2 data-aos="fade-left" style="text-align:center">WHAT MAKES SENSI, SENSATIONAL</h2>
    <div class="flex-1">
      <div class="img-section" data-aos="fade-right"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Flo6___Lubri_Strip.gif?v=1690703708" alt="flexi"></div>
      <div class="content-section" data-aos="fade-left">
        <h2>TRIPLE ACTION LUBRICATING STRIP
        </h2>
        <p>Moisturising Argan oil, along with Aloe and Vitamin E</p>
      </div>
    </div>
    <div class="flex-1 row-rev">
      <div class="img-section" data-aos="fade-left"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Flo4___Curved_Blades.gif?v=1690707669" alt="sensiflo 4"></div>
      <div class="content-section" data-aos="fade-right">
        <h2>NOT LINEAR. BUT CURVED BLADES</h2>
        <p>A small innovation to make a big difference. Makes the razor glide oh so smooth!</p>
      </div>
    </div>
    <div class="flex-1">
      <div class="img-section" data-aos="fade-right"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Sensi_Smart3___Flexi_Head.gif?v=1690707669" alt="flexi"></div>
      <div class="content-section" data-aos="fade-left">
        <h2>PIVOTING HEAD</h2>
        <p>Distributes the pressure of the razor on the skin evenly for max comfort</p>
      </div>
    </div>
  </div>
  <div class="section-sixth">
    <h2></h2>
    <div class="paper-video-desktop">
      <video loop autoplay inline muted>
        <source src="https://cdn.shopify.com/videos/c/o/v/6201970c28a34c3291f7aa50e93636af.mp4" type="video/mp4">
      </video>
    </div>
    <div class="paper-video-mobile">
      <video loop autoplay inline muted>
        <source src="https://cdn.shopify.com/videos/c/o/v/b23188445fd84a9d9bf13c4d08cae113.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<!-- HTML ENDS HERE -->



<!-- JS STARTS HERE -->
<script aync src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
  $('.slider-three').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    centerMode: true,
    centerPadding: '360px',
    arrows: false,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 800,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: true,
          infinite: true,
          autoplay: true,
          arrows: false,
          centerPadding: '100px'
        }
      }
    ]
  });
</script>
<!-- JS ENDS HERE -->
