<style>
  @import url('@import "https://fonts.googleapis.com/css2?family=Bebas + Neue &family=Roboto:wght@300;400;500;700;900&display=swap";');
  video.desktopp {
    display: block;
    max-width: 100%;
    min-height: 319px;
    width: 1920px;
  }
  video.mobilee {
    display: none;
    max-width: 100%;
    object-fit: contain;
  }
  .rzp-section-1 {
    font-family: Roboto, sans-serif;
    font-weight: 800
  }
  .about-rzp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .rzp-section-1 h2 {
    font-size: 64px;
    line-height: 1.7;
  }
  .steps {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-top: 21px;
    flex-direction: row;
    justify-content: space-between;
  }
  .rzp-section-1 {
    width: 40%
  }
  .rzp-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    width: 700px;
    margin: 0 auto;
    padding-top: 30px
  }
  a.rzp-button {
    width: 239px;
    padding: 7px 22px;
    text-align: center;
    border: 3px solid #fdc818;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: 0.4s;
  }
  a.rzp-button:hover {
    background-color: #fdc818;
    color: #3180c2
  }
  .section-3 {
    padding: 20px 0;
  }
  .s3-heading {
    display: block;
    padding-bottom: 20px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #e6ae83;
  }
  .s4-heading {
    padding: 20px 0
  }
  .s4-slide {
    padding-bottom: 20px
  }
  .s4-heading h2 {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
  }
  .section-4 {
    background-color: #fdc818
  }
  span.rzp-head {
    font-size: 48px;
  }
  .s3-slide {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400
  }
  .s4-main-section {
    display: block;
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    background-color: #ffecae;
    border-radius: 30px;
    box-shadow: 2px 3px 1px #000;
  }
  .s4-slide {
    font-size: 19px;
    text-align: center;
    line-height: 22px;
    padding: 25px 15px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 400;
  }
  .s4-slide h3 {
    font-style: normal
  }
  img.arrow {
    position: absolute;
    top: 70px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
  }
  img.arrow:hover {
    transform: scale(1.1)
  }
  .left {
    left: 200px;
  }
  .right {
    right: 200px;
  }
  .s4-main {
    padding-bottom: 15px;
    position: relative
  }
  .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .login {
    width: 40%;

  }
  .login h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
  @media(max-width:450px) {
    video.desktopp {
      display: none
    }
    video.mobilee {
      display: block;
    }
    .s3-slide {
      margin: 0 12px;
    }
  }
</style>
<div class="hero-video">
  <video
    class="desktopp"
    autoplay
    muted
    inline>
    <source src="https://cdn.shopify.com/videos/c/o/v/ee23f2d7bac040d6bb8d69475c6122a4.mp4" type="video/mp4">
  </video>
  <video
    class="mobilee"
    autoplay
    muted
    inline>
    <source src="https://cdn.shopify.com/videos/c/o/v/f879b9d951874f8b81c78142b2afaa4f.mp4" type="video/mp4">
  </video>
</div>
<div class="section-2">
  <div class="login">
    <h2>Apply Now to India’s biggest
      entrepreneurship challenge</h2>
    {% render 'custom-razorpreneur-form' %}
  </div>
  <div class="content desktop-only"></div>
</div>

{% comment %} <div class="atc_button">
<button
type="submit"
name="add"
aria-label="Add to cart"
class="ad_to_cart_coll Button Button--primary hrs"
id="ad_to_cart hrs"
aria-haspopup="dialog"
data-add-to-cart="43344156065946"
data-var_id="43344156065946"
data-action="open-drawer"
data-drawer-id="sidebar-cart">
<span>Add to cart</span>
</button>
</div> {% endcomment %}<div class="section-3">
  <div class="s3-heading">
    <h2>What Do Razorpreneurs Do ?</h2>
  </div>
  <div class="s3-main">
    <div class="s3-slider">
      <div class="s3-slide s3-slide-1">
        <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/pexels-pok-rie-2049422.jpg?v=1689741127"></h2>
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
      </div>
      <div class="s3-slide s3-slide-2">
        <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/pexels-pok-rie-2049422.jpg?v=1689741127"></h2>
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
      </div>
      <div class="s3-slide s3-slide-3">
        <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/pexels-pok-rie-2049422.jpg?v=1689741127"></h2>
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
      </div>
      <div class="s3-slide s3-slide-4">
        <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/pexels-pok-rie-2049422.jpg?v=1689741127"></h2>
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
      </div>
    </div>
  </div>
  <div class="rzp-buttons">
    <a href="#" class="rzp-button learn-more">Learn More</a>
    <a href="#" class="rzp-button apply-now">Apply Now</a>
  </div>
</div>
<div class="section-4">
  <div class="s4-heading">
    <h2>What Makes You a<br><span class="rzp-head">Razorpreneur ?</span>
    </h2>
  </div>
  <div class="s4-main">
    <div class="s4-main-section">
      <div class="s4-slider">
        <div class="s4-slide s4-slide-1">
          <p>"Lorem ipsum dolor sit amet consectetur adipiscing elit metus class vivamus fringilla varius gravida bibendum, vehicula lobortis pulvinar turpis praesent porta mi etiam dapibus cum facilisi sed torquent. Proin nibh montes auctor pretium commodo turpis vehicula habitasse consequat quis"</p>
          <h3>Loren Ipsum Dolor</h3>
        </div>
        <div class="s4-slide s4-slide-2">
          <p>"Lorem ipsum dolor sit amet consectetur adipiscing elit metus class vivamus fringilla varius gravida bibendum, vehicula lobortis pulvinar turpis praesent porta mi etiam dapibus cum facilisi sed torquent. Proin nibh montes auctor pretium commodo turpis vehicula habitasse consequat quis"</p>
          <h3>Loren Ipsum Dolor</h3>
        </div>
        <div class="s4-slide s4-slide-3">
          <p>"Lorem ipsum dolor sit amet consectetur adipiscing elit metus class vivamus fringilla varius gravida bibendum, vehicula lobortis pulvinar turpis praesent porta mi etiam dapibus cum facilisi sed torquent. Proin nibh montes auctor pretium commodo turpis vehicula habitasse consequat quis"</p>
          <h3>Loren Ipsum Dolor</h3>
        </div>
        <div class="s4-slide s4-slide-4">
          <p>"Lorem ipsum dolor sit amet consectetur adipiscing elit metus class vivamus fringilla varius gravida bibendum, vehicula lobortis pulvinar turpis praesent porta mi etiam dapibus cum facilisi sed torquent. Proin nibh montes auctor pretium commodo turpis vehicula habitasse consequat quis"</p>
          <h3>Loren Ipsum Dolor</h3>
        </div>
      </div>
    </div>
    <img
      src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/left-arrow-rzp.png"
      class="arrow left"
      width="120px"
      height="120px">
    <img
      src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/right-arrow-rzp.png"
      class="arrow right"
      width="120px"
      height="120px">
  </div>
</div>
<div class="section-5">
  <div class="s5-marquee">
    {% section 'rzp-marqeee' %}
  </div>
  <div class="s5-flex">
    <div class="s5-left-section">
      <h2>Lorem ipsum dolor sit amet consectetur</h2>
    </div>
    <div class="s5-right-section">
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pharetra, quisque sed justo praesent nisi proin felis eu et, odio egestas nec nostra volutpat scelerisque litora. Bibendum donec commodo</p>
      <div class="rzp-buttons">
        <a href="#" class="rzp-button learn-more">Learn More</a>
        <a href="#" class="rzp-button apply-now">Apply Now</a>
      </div>
    </div>
  </div>
</div>
<script>
  $('.s3-slider').slick({
    centerMode: true,
    centerPadding: '370px',
    arrows: false,
    infinite: true,
    slidesToShow: 1,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 3
        }
      }, {
        breakpoint: 480,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
    ]
  });
  $('.s4-slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: false,
    autoplaySpeed: 2000,
    arrows: true,
    dots: true,
    prevArrow: $('.left'),
    nextArrow: $('.right')
  });
</script>
